body {
  /*background-color: #110;*/
  /*color: #ddd;*/
  width: 100%;
  /*height: 100vh;*/
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*background: linear-gradient(to bottom, color(black), color(grey));*/
  /*transition: background-color 0.3s ease, color 0.3s ease;*/
}

/* dark-mode and light-mode start*/

body, textarea, button, h2, input, select, a, #dropdown {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light-mode {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85), rgba(200, 200, 200, 0.95));
}

.light-mode button {
  background-color: #fff;
  border: solid 1px #333;
}

.light-mode textarea {
  background-color: #ddd;
  border: solid 1px #333;
  color: #333;
}

.light-mode h2 {
  border-color: #333;
}

.light-mode input[type="text"], .light-mode input[type="number"], .light-mode input[type="email"], .light-mode input[type="password"] {
  background-color: #ddd;
  color: #333;
  border: none;
}

.light-mode select {
  background-color: #bbb;
  color: #333;
  border: none;
}

.light-mode #dropdown {
  background-color: #ccc;
}

.light-mode input[type="submit"] {
  background-color: #333;
}

.light-mode a {
  color: blue; 
}

.dark-mode {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.95));
  background-repeat: no-repeat;
  background-size: cover;
  color: #ddd;
}

.dark-mode button {
  border: solid 1px #ddd;
}

.dark-mode h2 {
  background-color: #333;
}

.dark-mode a {
  color: orange;
}

.dark-mode input[type="number"], .dark-mode input[type="text"], .dark-mode input[type="email"], .dark-mode input[type="password"], .dark-mode input[type="submit"] {
  background-color: #333;
  color: #ddd;
}

.dark-mode select {
  background-color: #333;
  color: #ddd;
}

.dark-mode textarea {
  background-color: #333;
  color: #ddd;
}

/* dark-mode and light-mode end*/

/* short and detailed survey start*/
/*.question {
  display: none;
  transition: all 0.3s ease-in-out;
}*/

/*.question.show {
  display: block;
}*/

/* short and detailed survey end*/

/* other option comment box start*/

/* other option comment box end */

button {
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: bold; 
  display: block;
  margin: 1em auto;
}

main {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 1em auto;
  display: block;
}

h2 {
  text-align: center;
  border: solid 1px #ddd;
  padding: 8px;
  border-radius: 15px;
  margin: 2em auto 1em auto;
  width: 100%;
  display: block;
}

p {
  margin: 1em 2em;
  text-indent: 50px;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  padding: 0 0 2em 0;
  margin: 0 auto;
}

legend {
  /*background-color: #333;*/
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  margin: 0em auto;
}

a {
  color: orange;
  text-decoration: none;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  /*background-color: #333;*/
  color: #ddd;
  padding: 10px;
  border-radius: 15px;
  border: solid 1px #ddd;
  display: block;
  margin: 0.5em auto;
}

input[type="number"] {
  /*background-color: #333;*/
  color: #ddd;
  padding: 10px;
  border: solid 1px #ddd;
  border-radius: 15px;
  display: block;
  width: 100%;
  margin: 0.5em auto;
}

input[type="file"] {
  width: 100%;
  padding: 10px;
  display: block;
  margin: 1em auto;
}

select {
  /*background-color: #333;*/
  color: #ddd;
  padding: 10px;
  border-radius: 15px;
  border: solid 1px #ddd;
  width: 100%;
  margin: 1em auto;
}

input[type="submit"] {
  border: solid 1px #ddd;
  /*background-color: #333;*/
  color: #ddd;
  width: 60%;
  padding: 10px;
  border-radius: 15px;
  display: block;
  margin: 1em auto;
  font-weight: bold;
  font-size: 18px;
}

.center {
  text-align: center;
}

textarea {
  width: 100%;
  padding: 10px;
  display: block;
  margin: 1em auto;
  border-radius: 15px;
  border: solid 1px #ddd;
  color: #ddd;
  /*background-color: #333;*/
}

.terms-and-conditions {
  text-align: center;
}

div {
  margin: 0;
  padding: 0;
  display: inline;
}
