html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* HEADERS categories subcategories of dropdown */
/* changing opacity level of header elements seems to have fix the clickable area for toggling, but I don't know why */
header {
  padding: 20px;
}

h1 {
  margin: 1em auto;
  text-align: center;
  color: aliceblue;
}

h4 {
  text-align: center;
}

.dropdown-container {
  position: relative;
  top: 0;
  margin: 0 auto;
}

.a {
  /* Subcategories ONLY PROJECTS AND HOBBIES */
  width: 75%;
  background-color: rgba(51, 51, 51, 0.6);
  color: aliceblue;
  text-align: center;
  margin: 20px auto;
  padding: 15px;
  border-radius: 15px;
}

.b {
  /* all subcategory items/content container ONLY PROJECTS AND HOBBIES */
  background-color: rgba(102, 102, 102, 0.5);
  width: 70%;
  margin: 10px auto;
  color: whitesmoke;
  border-radius: 15px;
  padding: 20px;
}


.c {
  /* about me, projects in progress, hobbies & Interests */
  background-color: rgba(20, 20, 20, 0.7);
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  width: 80%;
  border-radius: 15px;
  color: aliceblue;
}

.e {
  /* subcategory content ABOUT ME ONLY */
  background-color: rgba(51, 51, 51, 0.6);
  text-align: center;
  margin: 20px auto;
  width: 75%;
  padding: 15px;
  border-radius: 15px;
  color: aliceblue;
}

.question {
  background-color: rgba(102, 102, 102, 0.55);
  text-align: center;
  width: 70%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  color: whitesmoke;
}

.answer {
  margin: 10px auto;
  width: 65%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  color: midnightblue;
}

/* TRIGGERS & DROPDOWNS */

/* Your CSS code here */
.dropdown-content {
  display: none;
}

.dropdown-content.active {
  display: block;
}

.dropdown-trigger {
  cursor: pointer;
}

body {
    font-size: 15pt;
    margin: 0;
    padding: 0;
    height: 100%;
    /* position: relative; to stack images*/
    /*background-color: peachpuff;*/
    /*background-image: url('/Untitled (Desktop Wallpaper)_20250320_195216_0001.png');*/
    /*background-image: url('/Untitled (Desktop Wallpaper)_20250320_195137_0004.png');*/
    /*background-image: url('/Untitled (Desktop Wallpaper)_20250320_195137_0003.png');*/
    background-image: url('/Star.png'), url('/Night_Forest_Stars.png');
    background-size: auto, cover;
    background-position: top -22% left 32%, center;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    /* animation: pulsate-star 3s infinite, none;*/
}

.content-wrap {
  min-height: 100%;
  margin-bottom: -525px;/* footer height*/
}

.content-wrap:after {
  content: "";
  display: block;
}

@keyframes pulsate-star {
  0% { opacity: 1; transform: scale(0.2); }
  50% { opacity: 1; transform: scale(1.1) rotate(15deg); }
  100% { opacity: 0.8; transform: scale(1.0); }
}

/* @keyframes star {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1) rotate(25deg)}
}*/

main {
  margin: 0 25px;
  width: 100%;
  flex-grow: 1;/*content takes up available space*/
  padding-bottom: 100px;
  /*position: relative;*/
}

/* WHISP */
/*.whisp-container {*/
  /*z-index: 20;*/
/*  position: fixed;
  top: 60%;
  left: 102%;
  width: 100vw;
  display: block;
  height: 100vh;
  transform: translate(-50%, -50%);
}*/

/*.whisp {
  width: 100%;
  height: auto;
  animation: pulsate 3s infinite ease-in-out;
}*/

/*@keyframes pulsate {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1) rotate(25deg)}
}*/

/*.speech-tail {
  position: absolute;
  width: 10px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  clip-path: polygon(0 0, 100% 50%, 0 100% ); *//*makes shape for tail of speech bubble*/
 /* top: 5vh;
  left: vh;
  transform: translateX(-50);
  opacity: 0;*/ /*makes initially invisible*/
  /*transition: opacity 3s ease-in-out;*/
/*}*/

/*.speech-box {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  min-width: 231px;
  max-width: 231px;
  min-height: 25px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 3s ease-in-out;
  white-space: wrap;
  left: -22%;
  top: 9%;
}*/

/*.whisp-container.speaking .speech-tail .whisp-container{
  opacity: 1;*/ /*shows tail of speech bubble when speaking*/
/*}*/

/*.whisp-input {
  position: absolute;
  top: 10vh;
  left: 30%;
  background-color: rgba(225, 225, 225, 0);
  color: aliceblue;
  height: 5vh;
  width: 50vw;
  font-size: 2em;
  padding: 10px;
  border: solid lightblue 1px;
  border-radius: 10px;
  color: aliceblue;
}*/

p {
  text-indent: 2em
}

/* PROJECTS IN PROGRESS*/
.projects img {
  width: 100%;
  max-width: 350px;
  height: 570px;
  object-fit: cover;
  border-radius: 10px;
}

.project-img {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 20px 10px;
}

#form a, #tribute a {
  text-align: center;
  color: aliceblue;
  width: 100%;
  display: inline-block;
  font-size: 1.8em;
  font-weight: bold;
}

/*GALLERY*/
#gallery {
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  justify-content: center;
  align-items: center;
  gap: 16px;
  /*max-width: 1400px;*/
  margin: 0 auto;
  padding: 20px 0 40px 0;
}

.x {
  /*border: 5px solid white;
  display: flex;*/ /* toggles alignment of gallery header instead of dropdown.*/
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.grid-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  max-width: 100%;
}

.img-container {
  /*grid-template-rows: 1fr 1fr;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;*/
  /*max-width: 1400px;
  padding: 10px 20px 20px 20px;*/
  flex-shrink: 0;
}

.img-container img {
  /*width: 100%;
  width: 200px;*/
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  max-width: 100%;
  width: 200px;
  /*height: auto;*/
}

.horizontal-scroll {
  /*display: flex;
  align-items: center;
  width: 100%;
  position: relative;*/
  overflow-x: auto;
  white-space: nowrap;
  /*min-width: 1300px;*/
}

.horizontal-scroll .content {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 1300px;
  /*transition: transform 0.3s ease;
  overflow-x: auto;*/ /*allow scrolling if buttons don't work*/
  /*width: auto;
  scroll-behavior: smooth;*/
  white-space: nowrap;
}

.horizontal-scroll .img-container {
  flex: 0 0 auto; /*prevent from shrinking or stretching images*/
  text-align: center;
  width: auto;
  margin: 0;
  padding: 0;
  flex-direction: row;
}

/*.scroll-left .scroll-right {
  position: absolute;
  transform: translateY(-50);
  cursor: pointer;
  z-index: 10;
  border: none;
  padding: 10px;
}*/

.grid-container button {
  /*text-align: center;*/
  font-size: 3rem;
  border-radius: 5px;
  /*align-self: center;*/
  color: indianred;
  border: 1px solid aliceblue;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  width: 1.5em;
  height: 4.5em;
  /*display: inline-block;*/
}

/*.scroll-left {
  left: 8px;
}

.scroll-right {
  right: 8px;
}*/

/* QUOTE GAME */
cite {
  /* book game titles */
  font-style: normal;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

q {
  /* book game qoutes */
  font-style: italic;
  font-family: "Merriweather", serif;
  /* Playfair Display Make sure you are properly linking the fonts you choose in your CSS (e.g., using Google Fonts or Adobe Fonts).*/
}

span {
  /* book game year */
  font-size: 0.8em;
  color: #555;
}

.author {
  margin-top: 0.5em;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
}

.reveal-button {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  grid-row: 2;
  grid-column: 1;
  text-align: center;
  margin: 0 auto;
}

.quote-slide {
  /* holds all quote answer pairs */
}

#subcat_item-6 {
  /* all content for quotes */
  background-image: url('/Book2.png');
  height: 40vh;
  font-size: 0.8em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.book-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: black;
  margin: 0 auto;
  width: 90%;
}

.book-answer {
  display: none;
}

.book-container.revealed .book-answer {
  display: block; /* Show the answer when .revealed class is added */
}

.left-page {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  padding: 60px 20px;
  margin: 65px auto;
  min-height: 200px;
  width: auto;
}

.book-quote {
  
}

.right-page {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  padding: 50px 50px 50px 50px;
  position: relative;
  min-height: 200px;
  width: auto;
  margin: 60px auto;
}

.quote-slides-container {
  display: grid; /*make container a grid*/
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;/* make single box for each side*/
  position: relative;/*needed for z-index to work*/
}

.quote-slide {
  grid-row: 1;
  grid-column: 1;
  /*opacity: 0;/*initially hides everything*/
  transition: opacity 0.3s ease-in-out;
  /*z-index: 0;
  /*stack everything behind as a default*/
  display: none;
}

.quote-slide:first-child {
  display: block;
}

/*.quote-slide.active {
  opacity: 1;
  z-index: 1;/*bring active elements to the front*//*
}*/

.next-button {
  cursor:pointer;
  padding: 5px;
  border-radius: 10px;
  grid-row: 2;
  grid-column: 1;
  text-align: center;
  margin: 0 auto;
  position: relative;
  bottom: 10.5em;
  left: 10em;
}

@media screen and (max-width: 600px) {
  .dropdown-trigger {
    width: 90%;
    padding: 3px;
  }
  
  .b {
    width: 80%;
  }
  
  .project-img img{
    max-height: 325px;
    max-width: 200px;
  }
  
  .answer {
    width: 80%;
  }
  
  #subcat_item-6 {
    background-size: 110%;
    width: 80%;
  }
  
  .dropdown-content {
    padding: 0 auto;
  }
  
  .left-page {
    position: absolute;
    top: 7%;
    left: -2%;
    width: 50%;
    margin: 0;
    padding: 0;
  }
  
  .right-page {
    width: 110%;
    height: 100%;
    margin: 0;
    padding: 0;
    right: -100%;
    top: 7%;
  }
  
  .book-answer {
    font-size: 0.7rem;
  }
  
  .next-button {
    top: -6%;
    left: -5%;
  }
  
  .reveal-button {
    position: absolute;
    bottom: -1rem;
    right: 0;
  }
  
  q {
    font-size: 0.62em;
    font-family: sans-serif;
  }
  
  footer nav a img {
    font-size: 0.5em;
  }
}
/* FOOTER */
footer {
  margin: 0;
  padding: 0;
  text-align: center;
  /*position: absolute;*/
  /*background-color: #333333;*/
  background-image: url('/footer3.png');
  background-size: cover;
  background-repeat: no-repeat;
  /*background: linear-gradient(to bottom, #3A3A28, #091418);  Apply a gradient */
  background: linear-gradient(to bottom, #073638, #01030f);
  -webkit-mask-image: url('/footer3.png');
    mask-image: url('/footer3.png');
  -webkit-mask-size: 100%;
    mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  -webkit-mask-position: center;
    mask-position: bottom center;
}

footer, .content-wrap:after {
  height: 525px;
  padding-top: 40px;
}

footer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  text-align: center;
}

footer nav a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: #e7e9ec;
  bottom: 0;
}

footer nav a img {
  height: 1.5em;
  bottom: 0;
}

/* toggle color example */
.red {
  color: red;
}

@media screen and (max-width: 600px) {
  .horizontal-scroll{
  }
  
  .x {
    padding: 0;
    margin: 0 auto;
    width: 90%;
    
  }
  
  .horizontal-scroll .img-container {
  }
  
  .grid-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  #gallery {
  }
  
  .img-container img {
    height: 230px;
    width: 180px;
    padding: 0 auto;
  }
  
  .grid-container button{
    height: 5rem;
    width: 1;
    font-size: 1rem;
  }
}