body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TODO dark-mode and light-mode */
/* TODO Dynamic Form Questions */

button {
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: bold; 
  display: block;
  margin: 1em auto;
}

main {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 1em auto;
  display: block;
}

h2 {
  text-align: center;
  border: solid 1px #ddd;
  padding: 8px;
  border-radius: 15px;
  margin: 2em auto 1em auto;
  width: 100%;
  display: block;
}

p {
  margin: 1em 2em;
  text-indent: 50px;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  padding: 0 0 2em 0;
  margin: 0 auto;
}

legend {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  margin: 0em auto;
}

a {
  color: orange;
  text-decoration: none;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  color: #ddd;
  padding: 10px;
  border-radius: 15px;
  border: solid 1px #ddd;
  display: block;
  margin: 0.5em auto;
}

input[type="number"] {
  color: #ddd;
  padding: 10px;
  border: solid 1px #ddd;
  border-radius: 15px;
  display: block;
  width: 100%;
  margin: 0.5em auto;
}

input[type="file"] {
  width: 100%;
  padding: 10px;
  display: block;
  margin: 1em auto;
}

select {
  color: #ddd;
  padding: 10px;
  border-radius: 15px;
  border: solid 1px #ddd;
  width: 100%;
  margin: 1em auto;
}

input[type="submit"] {
  border: solid 1px #ddd;
  color: #ddd;
  width: 60%;
  padding: 10px;
  border-radius: 15px;
  display: block;
  margin: 1em auto;
  font-weight: bold;
  font-size: 18px;
}

.center {
  text-align: center;
}

textarea {
  width: 100%;
  padding: 10px;
  display: block;
  margin: 1em auto;
  border-radius: 15px;
  border: solid 1px #ddd;
  color: #ddd;
}

.terms-and-conditions {
  text-align: center;
}

div {
  margin: 0;
  padding: 0;
  display: inline;
}
