html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* HEADERS categories subcategories of dropdown */
/* changing opacity level of header elements seems to have fix the clickable area for toggling, but I don't know why */
header {
  padding: 20px;
}

h1 {
  margin: 1em auto;
  text-align: center;
  color: aliceblue;
}

h4 {
  text-align: center;
}

.dropdown-container {
  position: relative;
  top: 0;
  margin: 0 auto;
}

.a {
  /* Subcategories ONLY PROJECTS AND HOBBIES */
  width: 75%;
  background-color: rgba(51, 51, 51, 0.6);
  color: aliceblue;
  text-align: center;
  margin: 20px auto;
  padding: 15px;
  border-radius: 15px;
}

.b {
  /* all subcategory items/content container ONLY PROJECTS AND HOBBIES */
  background-color: rgba(102, 102, 102, 0.5);
  width: 70%;
  margin: 10px auto;
  color: whitesmoke;
  border-radius: 15px;
  padding: 20px;
}


.c {
  /* about me, projects in progress, hobbies & Interests */
  background-color: rgba(20, 20, 20, 0.7);
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  width: 80%;
  border-radius: 15px;
  color: aliceblue;
}

.e {
  /* subcategory content ABOUT ME ONLY */
  background-color: rgba(51, 51, 51, 0.6);
  text-align: center;
  margin: 20px auto;
  width: 75%;
  padding: 15px;
  border-radius: 15px;
  color: aliceblue;
}

.question {
  background-color: rgba(102, 102, 102, 0.55);
  text-align: center;
  width: 70%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  color: whitesmoke;
}

.answer {
  margin: 10px auto;
  width: 65%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  color: midnightblue;
}

/* TRIGGERS & DROPDOWNS */
.dropdown-content {
  display: none;
}

.dropdown-content.active {
  display: block;
}

.dropdown-trigger {
  cursor: pointer;
}

body {
    font-size: 15pt;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('/Star.png'), url('/Night_Forest_Stars.png');
    background-size: auto, cover;
    background-position: top -22% left 32%, center;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
}

.content-wrap {
  min-height: 100%;
  margin-bottom: -525px;/* footer height*/
}

.content-wrap:after {
  content: "";
  display: block;
}

/* TODO Pulsating Star */
/* TODO Whisp */

main {
  margin: 0 25px;
  width: 100%;
  flex-grow: 1;/*content takes up available space*/
  padding-bottom: 100px;
}

p {
  text-indent: 2em
}

/* PROJECTS IN PROGRESS*/
.projects img {
  width: 100%;
  max-width: 350px;
  height: 570px;
  object-fit: cover;
  border-radius: 10px;
}

.project-img {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 20px 10px;
}

#form h3, #tribute h3 {
  text-align: center;
  color: aliceblue;
  width: 100%;
  display: inline-block;
  font-size: 1.8em;
  font-weight: bold;
  text-decoration: underline;
}

#form a, #tribute a {
  color: aliceblue;
  font-weight: bold;
  text-decoration: underline;
  display: block;
  text-align: center;
}

/*GALLERY*/
#gallery {
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  padding: 20px 0 40px 0;
}

.x {
  /*border: 5px solid white;
  display: flex;*/ /* toggles alignment of gallery header instead of dropdown?*/
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.grid-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  max-width: 100%;
}

.img-container {
  flex-shrink: 0;
}

.img-container img {
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  max-width: 100%;
  width: 200px;
}

.horizontal-scroll {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scroll .content {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 1300px;
  white-space: nowrap;
}

.horizontal-scroll .img-container {
  flex: 0 0 auto; /*prevent from shrinking or stretching images*/
  text-align: center;
  width: auto;
  margin: 0;
  padding: 0;
  flex-direction: row;
}

.grid-container button {
  font-size: 3rem;
  border-radius: 5px;
  color: indianred;
  border: 1px solid aliceblue;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  width: 1.5em;
  height: 4.5em;
}

/* QUOTE GAME */
cite {
  /* book game titles */
  font-style: normal;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

q {
  /* book game qoutes */
  font-style: italic;
  font-family: "Merriweather", serif;
}

span {
  /* book game year */
  font-size: 0.8em;
  color: #555;
}

.author {
  margin-top: 0.5em;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
}

.reveal-button {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  grid-row: 2;
  grid-column: 1;
  text-align: center;
  margin: 0 auto;
}

#subcat_item-6 {
  /* all content for quotes */
  background-image: url('/Book2.png');
  height: 40vh;
  font-size: 0.8em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.book-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: black;
  margin: 0 auto;
  width: 90%;
}

.book-answer {
  display: none;
}

.book-container.revealed .book-answer {
  display: block; /* Show the answer when .revealed class is added */
}

.left-page {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  padding: 60px 20px;
  margin: 65px auto;
  min-height: 200px;
  width: auto;
}

.right-page {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  padding: 50px 50px 50px 50px;
  position: relative;
  min-height: 200px;
  width: auto;
  margin: 60px auto;
}

.quote-slides-container {
  display: grid; /*make container a grid*/
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;/* make single box for each side*/
  position: relative;/*needed for z-index to work*/
}

.quote-slide {
  grid-row: 1;
  grid-column: 1;
  transition: opacity 0.3s ease-in-out;
  display: none;
}

.quote-slide:first-child {
  display: block;
}

.next-button {
  cursor:pointer;
  padding: 5px;
  border-radius: 10px;
  grid-row: 2;
  grid-column: 1;
  text-align: center;
  margin: 0 auto;
  position: relative;
  bottom: 10.5em;
  left: 10em;
}

@media screen and (max-width: 600px) {
  .dropdown-trigger {
    width: 90%;
    padding: 3px;
  }
  
  .b {
    width: 80%;
  }
  
  .project-img img{
    max-height: 325px;
    max-width: 200px;
  }
  
  .answer {
    width: 80%;
  }
  
  #subcat_item-6 {
    background-size: 110%;
    width: 80%;
  }
  
  .dropdown-content {
    padding: 0 auto;
  }
  
  .left-page {
    position: absolute;
    top: 7%;
    left: -2%;
    width: 50%;
    margin: 0;
    padding: 0;
  }
  
  .right-page {
    width: 110%;
    height: 100%;
    margin: 0;
    padding: 0;
    right: -100%;
    top: 7%;
  }
  
  .book-answer {
    font-size: 0.7rem;
  }
  
  .next-button {
    top: -6%;
    left: -5%;
  }
  
  .reveal-button {
    position: absolute;
    bottom: -1rem;
    right: 0;
  }
  
  q {
    font-size: 0.62em;
    font-family: sans-serif;
  }
  
  footer nav a img {
    font-size: 0.5em;
  }
}

/* FOOTER */
footer {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url('/footer3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(to bottom, #073638, #01030f);
  -webkit-mask-image: url('/footer3.png');
    mask-image: url('/footer3.png');
  -webkit-mask-size: 100%;
    mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  -webkit-mask-position: center;
    mask-position: bottom center;
}

footer, .content-wrap:after {
  height: 525px;
  padding-top: 40px;
}

footer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  text-align: center;
}

footer nav a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: #e7e9ec;
  bottom: 0;
}

footer nav a img {
  height: 1.5em;
  bottom: 0;
}

@media screen and (max-width: 600px) {
  .horizontal-scroll{
  }
  
  .x {
    padding: 0;
    margin: 0 auto;
    width: 90%;
    
  }
  
  .horizontal-scroll .img-container {
  }
  
  .grid-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  #gallery {
  }
  
  .img-container img {
    height: 230px;
    width: 180px;
    padding: 0 auto;
  }
  
  .grid-container button{
    height: 5rem;
    width: 1;
    font-size: 1rem;
  }
}
